@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');


$bodylight: #e8e8e8;
$bodymid:  #d0dee5;
$bodydark: #868e96;
$bootstrapdanger: #dc3545;
$mainfont: 'Questrial', sans-serif;
$maintextcolor: #343a40;
$navblue: #587795;
$white: #fff;


body {
  background: linear-gradient($bodylight, $bodymid, $bodydark) no-repeat;
  background-attachment: fixed;
  color: $maintextcolor;
  font-family: $mainfont;
}

.about-one {
  background-image: url('https://i.imgur.com/GvUN5dg.png');
}

.about-three {
  background-image: url('https://i.imgur.com/GvUN5dg.png');
  font-size: large;
  font-weight: bold;
}

.about-two {
  background-image: url('https://i.imgur.com/vr1QnMH.png');
  color: '$bootstrapdanger';
}

.card {
  background-image: url('https://i.imgur.com/GvUN5dg.png');
  font-size: 1.2rem;
  height: 18rem;
  border: 1px $bodydark solid;
}

.card-body {
  margin-top: 1.5rem;
}

.decks a {
  color: $navblue;
}

.decks a:hover {
  background-color: $bodylight;
  color: $bootstrapdanger;
  text-decoration: none;
}

.decks .help {
  background-color: $white;
  border-radius: 6px;
  color: $maintextcolor;
  font-weight: bold;
  left: 85%;
  padding: .5rem;
  position: absolute;
  text-align: center justify;
  visibility: hidden;
  width: 10rem;
  z-index: 1;
}

.decks:hover .help {
  visibility: visible;
}


.list {
  margin-top: 1rem;
  // padding: 1rem;
}

.nav {
  background: linear-gradient(to left, $navblue, $bodydark) no-repeat;
}


.study {
  margin: 1rem;
  padding: 1rem;
}

.study-tip .help {
  background-color: $white;
  border-radius: 6px;
  bottom: -20%;
  color: $maintextcolor;
  font-weight: bold;
  margin-left: 20rem;
  padding: .5rem;
  position: absolute;
  right: 60%;
  text-align: center justify;
  visibility: hidden;
  width: 10rem;
  z-index: 1;
}

.study-tip:hover .help {
  visibility: visible;
}
